{% extends 'base.html' %}

{% block content %}
  <body>
    <h2>Log In</h2>
    <form name="signinform" method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>
      <br/>
      <button type="submit" class="btn btn-primary">Sign In</button>
      <br/><br/>
      Not Registered? <a href="/signup">Sign up</a>
    </form>
  </body>
{% endblock %}